*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 50px;
}


.battleSpc{
    background-color: #39b5e6;
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
    gap: 2px;
    border: 2px solid #000;
}

.battleSpc div {
  width: 30px;
  height: 30px;
  background-color: #a8d0e6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  cursor: pointer;
}

.ship {
    background-color: #4CAF50 !important; 
}

.hit {
    background-color: orange !important;
}

.miss {
    background-color: white !important;
}

.sunk {
    background-color: red !important;
}

#cmpSpc div:hover {
    background-color: #0099ff;
}